<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title itemprop="name" data-i18n="projects.page.title">Projects | SAO</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include('partials/header', { page: 'projects' , showAccount: true }) %>

        <main id="main" class="container" itemscope itemtype="https://schema.org/ItemList" itemprop="mainEntity">
            <div id="app"></div>
        </main>

        <script type="module" src="/js/app.js"></script>

        <%- include('partials/footer') %>
</body>

</html>