@use 'sass:math';

// Convert px to rem
@function to-rem($px) {
    @if math.is-unitless($px) {
        @return math.div($px, 16)+rem;
    }

    @error "Don't use units when using the rem() function; only numbers.";
}

// Mix two colors
@function color-mix($color1, $color2, $weight: 50%) {
    @return mix($color1, $color2, $weight);
}