@use '../abstracts/variables' as *;

body {
    font-family: $font-primary;
    color: $color-text;
    background-color: $color-bg;
    line-height: 1.6;

    // Sticky Footer Setup
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}