@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    color: $color-text;
}

h1 {
    @include heading-style(to-rem(48));
}

h2 {
    @include heading-style(to-rem(36));
}

h3 {
    @include heading-style(to-rem(24));
}

p {
    margin-bottom: $spacing-unit * 2;
}