@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Art direction example class
.hero-image {
    width: 100%;
    height: 400px;
    object-fit: cover;

    @include respond-to(mobile) {
        height: 250px;
    }
}