@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
    background-color: $color-text;
    color: $color-white;
    padding: $spacing-unit * 4 0;
    margin-top: auto;

    &__container {
        @include container;
        text-align: center;
    }
}